<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.standard.co.uk/s3fs-public/thumbnails/image/2016/09/30/10/cocktails.jpg?width=1000&height=614&fit=bounds&format=pjpg&auto=webp&quality=70&crop=16:9,offset-y0.5');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Get recipes of all cocktails in the world</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('<%= cocktail.photo %>')">
          <div class="card-description">
            <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
            <ul>
              <% cocktail.ingredients.each do |ingredient| %>
                <li><%= ingredient.name (@ingredient.dose) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description">
          <p>Add a new cocktail</p>
          <%= simple_form_for(@cocktail) do |f| %>
            <%= f.input :name %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
